@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Sans+SC:wght@300;400;500;700;900&display=swap");
@import "./assets/scss/reset.scss";

body {
  font-family: $Noto;
}
a:hover {
  color: inherit;
}
.wrapper {
  max-width: 1440px;
  width: 85vw;
  margin: auto;
}
.img-fluid {
  width: 100%;
  height: auto;
}
/* ------------------ Main Button Style ----------------- */
.main-btn {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  padding: 15px 80px;
}
.main-btn_round {
  border-radius: 30px;
}
.main-btn_round-5 {
  border-radius: 5px;
}
// Button Color
.main-btn_blue {
  background-color: $navy;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $red;
  }
}
.main-btn_red {
  background-color: $red;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #c42222;
  }
}

// ant timeline

.ant-timeline-item-head {
  background-color: transparent;
}

.ant-timeline-item-tail {
  border-color: $navy;
  left: 0;
}