@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Sans+SC:wght@300;400;500;700;900&display=swap");
@import "./assets/scss/reset.scss";
html {
  scroll-behavior: smooth;
  user-select: none;
}
body {
  font-family: $Noto;
}
a:hover {
  color: inherit;
}

/* ------------------ Main Button Style ----------------- */
.main-btn {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  padding: 15px 80px;
  margin-bottom: 8px;
}
.main-btn_round {
  border-radius: 30px;
}
.main-btn_round-5 {
  border-radius: 5px;
}
// Button Color
.main-btn_blue {
  background-color: $navy;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $red;
  }
}
.main-btn_red {
  background-color: $red;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #c42222;
  }
}
.main-btn_grey {
  background-color: #c4c4c4;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #adadad;
  }
}
@media all and (max-width: 768px) {
  .main-btn_mobile_w100 {
    width: 100%;
  }
}
// ant timeline

.ant-timeline-item-head {
  background-color: transparent;
}

.ant-timeline-item-tail {
  border-color: $navy;
  left: 0;
}

/* ------------------------------------------------------ */
/*           ANCHOR hot project page CODEX STYLE          */
/* ------------------------------------------------------ */
.codex-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  // padding: 100px 0;
}
.codex-item {
  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: right;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  h2 {
    color: $navy;
  }
}
.codex-section {
  padding: 100px 0;
}
@media all and (max-width: 768px) {
  .codex-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .codex-section {
    padding: 30px 0;
  }
}
.red-square-list-wrap {
  li {
    color: #707070;
    font-size: 16px;
    margin-bottom: 20px;
  }
  li::before {
    content: url("/img/Projects/list-square.png");
    margin-right: 15px;
  }
}
/* ------------------------------------------------------ */
/*            ANCHOR PROJECT GREY HEADER STYLE            */
/* ------------------------------------------------------ */
.project-header-wrap {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  background: url("/img/Banner/general-banner.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  h1 {
    color: $navy;
    font-size: 60px;
    font-weight: bold;
    position: relative;
    margin-left: 20px;
  }
  h1::before {
    content: "";
    position: absolute;
    top: 55%;
    left: -20px;
    transform: translateY(-50%);
    background-color: $red;
    width: 6px;
    height: 70px;
  }
}
@media all and (max-width: 768px) {
  .project-header-wrap {
    height: 200px;
    h1 {
      font-size: 28px;
    }
    h1::before {
      width: 6px;
      height: 40px;
    }
  }
}
/* ------------------------------------------------------ */
/*                  ANCHOR General Header                 */
/* ------------------------------------------------------ */
.general-header {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-position: center center !important;
  background-blend-mode: multiply;
  h1 {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    position: relative;
    margin-left: 20px;
  }
  h1::before {
    content: "";
    position: absolute;
    top: 55%;
    left: -20px;
    transform: translateY(-50%);
    background-color: $red;
    width: 6px;
    height: 70px;
  }
}
@media all and (max-width: 768px) {
  .general-header {
    height: 300px;
    h1 {
      font-size: 35px;
    }
    h1::before {
      width: 6px;
      height: 40px;
    }
  }
}
.additional-link {
  font-size: 14px;
  text-decoration: underline;
  color: $navy;
  text-underline-offset: 3px;
}
.additional-info {
  font-size: 14px;
  color: #c4c4c4;
}
#eeForm,
#bcpnp-evaluation-form,
#selfEmployedForm,
#ontario-student-evaluation-form,
#ontario-employee-evaluation-form,
#mpnp-evaluation-form {
  .back-btn {
    display: flex;
    align-items: center;
    margin-top: 25px;
    width: fit-content;
    span {
      font-size: 20px;
    }
    img {
      width: 22px;
      margin-right: 10px;
    }
  }
  .pointsCounter strong {
    color: #34ff48;
  }
}
@media all and (max-width: 768px) {
  #eeForm {
    .back-btn {
      margin-left: -8px;
      margin-top: 10px;
      width: 100%;
      span {
        font-size: 16px;
      }
      img {
        margin-right: 5px;
      }
    }
  }
}

/*Ant*/
.blog-tabs {
  .ant-tabs-tab{
    font-size: 18px;
    line-height: 21px;
  }
  .ant-tabs-nav-scroll {
    .ant-tabs-ink-bar{
      background-color: $navy;
    }
    .ant-tabs-tab:hover{
      color: $navy;
    }
    .ant-tabs-tab-active{
      color: $navy;
    }
  }
}
@media all and (max-width: $sm){
  .blog-tabs{
    .ant-tabs-tab{
      font-size: 14px;
    }
  }
}

/* score listing for /evaluation */
.recent-scores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  border: 1px solid $navy;
  margin-bottom: 30px;
  font-size: 16px;
  padding: 24px;
}

@media all and (max-width: $sm) {
  .recent-scores {
    grid-template-columns: 1fr;
  }
}

/*Fancybox*/
.fancybox__nav {
  .carousel__button.is-prev{
    left: 55px;
  }
  .carousel__button.is-next{
    right: 55px;
  }
}
@media all and (max-width: $md) {
  .fancybox__nav {
    .carousel__button.is-prev{
      left: 8px;
    }
    .carousel__button.is-next{
      right: 8px;
    }
  }
}